.el--1{
    background-color: blueviolet;
    /* align-self: flex-start; */
}
.el--2{
    background-color: orangered;
    /* align-self: flex-end; */
}
.el--3{
    background-color: green;
    /* align-self: flex-start; */
}
.el--4{
    background-color: goldenrod;
    /* align-self: flex-end; */
}
.el--5{
    background-color: palevioletred;
    /* align-self: stretch; */
    height: 150px;
}
.el--6{
    background-color: steelblue;
    /* align-self: flex-end; */
}
.el--7{
    background-color: yellow;
    /* align-self: flex-start; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.el--8{
    background-color: crimson;
    /* align-self: flex-end; */
    
}

.container {
    /* GRID */
    display: grid;

    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;


    /* STARTER */
    font-family: sans-serif;
    background-color: #ddd;
    font-size: 40px;
    margin: 40px;

    /* FLEXBOX */
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; */
}


