*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 22px;
}

h1::first-letter{
    font-style: normal;
    font-size: 20px;
    padding-right: 20px;
}


body{
    position: relative;
}

#author{
    font-style: italic;
    font-size: 20px;
}
h2{
    color: cadetblue;
    font-size: 38px;
    margin-bottom: 25px;
}
h3{
    font-size: 28px;
    margin-left: 20px;
    padding: 25px 0;
}
h4{
    align-items: center;
    font-style: italic;
}
.related-author{
    font-size: 19px;
    font-weight: bold;
    padding: 25px 0;
}

.related{
    text-align: center;
    list-style: none;
    background-color: #f1f1f1;
    border-top:5px solid #aaad10;
    border-bottom:5px solid #aaad10;
    padding: 25px 0;
    margin-top: 5px;
    height: 300px;
    width: 500px;
}

h1,h3,h4{
    color: cadetblue;
    text-align: center;
}

.main-header{
    /* text-align: center; */
    background-color: #f1f1f1;
    padding: 20px 40px;
    margin-bottom: 25px;
    border-top:5px solid #aaad10;
}

.main-footer{
    background-color: pink;
    color: blue;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
} 

li:first-child,
li:last-child{
    font-weight: bold;
}

/* li{
    margin-top: 15px;
} */

li:nth-child(odd){
    color: red;
}
li:nth-child(even){
    color: blueviolet;
}

/* styling links */

a:link {
    color: brown;
    text-decoration: none;
}   

a:visited{
    color: brown;
}

a:hover{
    font-weight: bold;
    color: orchid;
    text-decoration:underline wavy orchid;
}
   
a:active{
    font-style: italic;
    background-color: black;
}



article{
    width: 900px;
    float: left;
    height: 650px;
    background-color: #f1f1f1;
    margin-left: 5px;
    border-top:5px solid #aaad10;
    border-bottom:5px solid #aaad10;
}

aside{
    float: right;
    padding: 50px 0;
 }

footer{
    clear: both;
    height: 200px;
}

.btn{
    font-size: 22px;
    padding: 14px;
    cursor: pointer;

    position: absolute;
    bottom: 50px;
    right: 50px;
}

/* FLOATS */


#author{
    float: right;
    padding-bottom: 102px;
    padding-right: 30px;
   }